<!doctype html>
<html ng-app="subwaytalent" lang="en">
<head th:fragment="header">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="fast, modern mobile web app.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SUBWAY TALENT</title>

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Material Design Lite">
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
<meta name="msapplication-TileColor" content="#3372DF">
<link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css">
<link rel="stylesheet" href="/site/assets/css/styles.css">

  <script src="/bower_components/angular/angular.min.js"></script>
</head>
<body>
  <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600">
      <div class="mdl-layout__header-row">
        <img ng-show="user" src="/admin/assets/images/" style="height:80%; padding-right:10px;">
        <span id="brand" class="mdl-layout-title"> SUBWAY TALENT</span>
        <div class="mdl-layout-spacer"></div>
      </div>
    </header>
    <main class="mdl-layout__content mdl-color--grey-100">
    <div th:replace="${view} :: content">Content</div>
    </main>
    <footer class="mdl-mega-footer">
      <div class="mdl-mega-footer--bottom-section">
        <div class="mdl-logo">Powered by TARA.IO</div>
      </div>
    </footer>
  </div>

  <script src="/bower_components/material-design-lite/material.min.js"></script>
</body>
</html>
